<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horror Movies Forum</title>
</head>
<body>

    <h1>Welcome to the Horror Movies Forum</h1>

    {% for forum_post in forum_posts %}
    
        <div>
            <h2>{{ forum_post.title }}</h2>
            <a href="{% url 'forum_edit_post' pk=forum_post.pk %}">Edit</a>
            <p>{{ forum_post.content }}</p>
        </div>

    {% endfor %}

</body>
</html>